.app {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url("../../images/background.jpeg") no-repeat center center;
  background-size: cover;
}

.app::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(70px);
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1152px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  z-index: 2;
  font-family: Roboto;
}