.result {
  margin: 36px auto 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 12px 36px;
  border: 1px solid rgb(76, 94, 80);
  border-radius: 30px;
  background: rgba(57, 61, 55, 0.4);
  color: #ffff;
}
