.result {
  width: 90%;
  margin: 36px auto 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  align-items: center;
  padding: 12px 36px;
  border: 1px solid rgb(76, 94, 80);
  border-radius: 30px;
  background: rgba(57, 61, 55, 0.4);
  color: #ffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.result__item {
  font-style: inherit;
  display: flex;
  align-items: center;
  gap: 24px;
}

.result__itemTitle {
}

.result__image {
}

.result__points {
  font-style: inherit;
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
  text-align: right;
}
