.settings__container {
  max-width: 1152px;
  width: 100%;
  position: relative;
  margin-top: 24px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
}

.settings__item {
  padding: 6px 12px;
  display: flex;
  flex-direction: column;
}

.setting__titleElement {
  color: rgb(182, 253, 229);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}

.setting__settingElement {
  height: 36px;
  padding: 6px 12px;
  color: #ffff;
  background-color: rgb(25, 26, 28);
  border-radius: 5px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}

.select {
  color: inherit;
  background-color: inherit;
  border: none;
  width: 100%;
}